$default: (
  background: (
    base:   #3B0097,
  ),
  foreground: (
    base:   #FFFFFF,
    dark:   #EFEFEF,
    darker: #C3C3C3,
  ),
  accent: (
    base:   #00DA74,
    dark:   #00C87B,
    light:  #3CFF88,
  ),
  secondary: (
    base:   #54009A,
  ),
  primary: (
    base:   #3B0097,
  )
);

$pastel: (
  background: (
    base: #626682,
  ),
  foreground: (
    base: #D7D8C5,
  ),
  accent: (
    base: #79FFDA,
    dark: #7BBCB5,
  ),
  secondary: (
    base: #C6CA56,
  ),
  primary: (
    base: #626682,
  )
);

$tensei: (
  background: (
    base: #394B57
  ),
  foreground: (
    base: #FBF4DA
  ),
  accent: (
    base: #E26E91
  ),
  secondary: (
    base: #47B7A9
  ),
  primary: (
    base: #394B57
  )
);

$aurora: (
  background: (
    base: #0F2033,
  ),
  foreground: (
    base: #EAE9EC,
  ),
  accent: (
    base: #00C86F,
  ),
  secondary: (
    base: #00C86F,
  ),
  primary: (
    base: #0F2033,
  )
);

$sunset: (
  background: (
    base:    #24034D
  ),
  foreground: (
    base:    #EAEAEF
  ),
  accent: (
    base:    #EF0047,
    dark:    #BF0044,
    darker:  #A60049,
    light:   #FF004C,
    lighter: #D62B5B,
  ),
  secondary: (
    base:    #1F264C,
    dark:    #181D38,
    ligth:   #29264C
  ),
  primary: (
    base:    #24034D
  )
);

$surf: (
  background: (
    base: #3B158A
  ),
  foreground: (
    base: #F2F2F2,
  ),
  accent: (
    base: #2FF6E6,
  ),
  secondary: (
    base: #000,
  ),
  primary: (
    base: #3B158A,
  )
);

$cupcake: (
  background: (
    base: #F6F6F6,
  ),
  foreground: (
    base: #515151,
  ),
  accent: (
    base: #FF6266
    //base: #EF0047
    //base: #D62B5B
    //base:  #FF004C
  ),
  secondary: (
    base: #000,
  ),
  primary: (
    base: #F6F6F6,
  )
);


$themes: (
  default: $default,
  cupcake: $cupcake,
  aurora: $aurora,
  sunset: $sunset,
  pastel: $pastel,
  tensei: $tensei,
  surf: $surf
);
