.main-container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: $backgroundColor;
}

.wrapper-landing {
  margin-top: 95px;
}

.wrapper-head {
  margin-bottom: 20px;
}

.wrapper-links {
  margin-bottom: 100px;
}
