
//
// VARIABLES
//

// Colors

$baseBlue: #3B0097;

$basePurple: #4D0098;

$baseGreen: #3CFF88;
$darkGreen: #00DA74;
$darkerGreen: #00C87B;

$primaryColor: $baseBlue;
$secondaryColor: $darkGreen;

$backgroundColor: $primaryColor;

// Font stacks

$font-sans: Lato, sans-serif;
