
//
// VARIABLES
//

// Colors

$baseBlue: #373595;
$darkBlue: #2E307B;

$basePurple: #4D0098;

$baseGreen: #74EC89;
$lightGreen: #A6F7B8;

$backgroundColor: $basePurple;

// Font stacks

$avenir: 'Avenir Next', Avenir, sans-serif;
$roboto: Roboto, sans-serif;
